@use './vars.scss' as *;

.about-me{
  margin-bottom: 112px;

  &--page{
    padding-top: 106px;
  }
  &__content{
  }
  &__info{
    margin-bottom: 45px;

    .main-title{
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -70px;
        top: 50%;
      }
    }
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    .about-me__text{
      width: 515px;
      font-size: 16px;
      color: $gray;

      &--1{
        margin-bottom: 25px;

      }
      &--2{
        margin-bottom: 25px;

      }
      &--3{
        margin-bottom: 35px;

      }
    }
    .about-me__image{
      margin-top: -50px;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: 10%;
        left: -2%;
        background-image: url('../../assets/dots.svg');
        width: 84px;
        height: 84px;
      }
      &::after{
        content: "";
        position: absolute;
        content: "";
        position: absolute;
        bottom: 23%;
        right: 4%;
        background-image: url('../../assets/dots.svg');
        width: 104px;
        height: 56px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}

.main-title--facts {
  @media (max-width: 768px) {
    font-size: 20px;
    margin-bottom: 24px;
    margin-top: 40px;
  }
}

@media (max-width: 768px) {
  .about-me {
    margin-bottom: 60px;

    &--page {
      padding-top: 100px;

      .main-title--projects {
        font-size: 20px;
        margin-bottom: 24px;
        margin-top: 40px;
      }
    }

    &__content {
      padding: 0 20px;
    }

    &__info {
      margin-bottom: 30px;

      .main-title {
        font-size: 24px;
        margin-bottom: 20px;

        &::before {
          display: none;
        }
      }
    }

    &__main-content {
      flex-direction: column;
      gap: 100px;
    }

    &__text {
      width: 100% !important;
      font-size: 14px;

      &--1,
      &--2,
      &--3 {
        margin-bottom: 16px;
      }
    }

    &__image {
      margin-top: 0;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%; 
        height: auto;
      }

      &::before,
      &::after {
        display: none;
      }
    }
  }
}

