@use './vars.scss' as *;

.contact{

  &--page{
    padding-top: 110px;

  }
  &__content{
    margin-bottom: 45px;

    .main-title{
      position: relative;
      &::before{
        content: "";
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -70px;
        top: 50%;
      }
      
    }
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;  

    .main-title--media{
      margin-top: 88px;
    }

    .contact__info--page{
      margin-bottom: 88px;
    }

  }
  &__info{
    width: 515px;

    .contact__text{
      font-size: 16px;
      color: $gray;
    }
  }
  .contact__links{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact__link{
    font-size: 16px;
    color: $gray;
    position: relative;
    padding-left: 37px;
    transition: 0.4s;
    cursor: pointer;

    &:hover{
      filter: brightness(0) invert(1);
      transform: translateY(-3px);
    }

    &--email::before,
    &--telegram::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: contain;
      transition: 0.5s;
    }

    &--email::before{
      background-image: url('../../assets/mail.svg');
    }

    &--telegram::before{
      background-image: url('../../assets/telegram-icon.svg');
    }
    &:hover{
      color: $primary;
    }
  }

  &__message{
    display: flex;
    flex-direction: column;
    border: $gray 1px solid;
    padding: 16px;

    .contact__message-text{
      font-size: 16px;
      color: $white;
      margin-bottom: 16px;
      font-weight: 700;
    }

    .contact__toggle{
      margin-bottom: 12px;
    }
  }
}

.main-title--media {
  @media (max-width: 768px) {
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
}

.social-header__links--contact {
  @media (max-width: 768px) {
    flex-direction: column !important;
    gap: 16px !important;
    align-items: flex-start;

    a {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

@media (max-width: 768px) {
  .contact {
    &--page {
      padding-top: 100px;
    }

    &__content {
      padding: 0 20px;
      margin-bottom: 30px;

      .main-title {
        font-size: 24px;
        margin-bottom: 20px;

        &::before {
          display: none;
        }
      }
    }

    &__main-content {
      flex-direction: column;
      gap: 30px;
      padding: 0 20px;
    }

    &__info {
      width: 100%;

      .contact__text {
        font-size: 14px;
      }
    }

    &__message {
      width: 100%;

      .contact__message-text {
        font-size: 14px;
      }
    }

    .contact__links {
      gap: 10px;
    }

    .contact__link {
      font-size: 14px;
    }
  }
}
.social-header__links--contact{
  margin-top: 22px;
  gap: 22px !important;
  flex-direction: row !important;

  img{
    margin-right: 10px;
  }
}
