@use './vars.scss' as *;
.header {
    background-color: #282c33ad;
    position: fixed;
    z-index: 3;
    width: 100%;
    color:$white;
    padding: 31px 0;
    &__content{
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }
  }
  .hashtag{
    color: $primary;
  }
  .header__title{
    display: flex;
    gap: 8px;
    text-align: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    color: $white;
    transition: .5s;
    &:hover{
      transform: translateY(-3px);
    }
  }
  .header__logo {
    height: 25px;
    width: 25px;
  }
  .menu{
    &__list{
      display: flex;
      justify-content: space-between;
      text-align: center;
      align-items: center;
      gap: 32px ;
    }
    &__item{
      position: relative;
    }
    &__item.active {
        .anchor-link--sublist::after {
          transition: all 0.5s ease 0s;
          transform: rotateX(180deg) translateY(50%);
      }
  }
  }
  .anchor-link {
    display: inline-flex;
    cursor: pointer;
    text-decoration: none;
    color: $gray;
    transition: 0.5s;
  
    &:hover {
      color: $white;
      transform: translateY(-2px);
  }
    &--active {
      color: $white;
    }
    &--sublist{
      position: relative;
      background: transparent;
      outline: none;
      border: none;
      &::after{
        content: '';
        position: absolute;
        width: 12px;
        height: 12px;
        top: 50%;
        right: -15px;
        transform: translateY(-50%);
        transition: all 0.5s ease 0s;
        background-image: url('../../assets/arrow.svg');
        background-repeat: no-repeat;
        background-position: center;
      }
  }
  }
  .sublist{
    position: absolute;
    top: 15px;
    left: -22px;
    background-color: $background;
    border: 1px solid $gray;
    min-width: 36px;
    z-index: 10;
    list-style: none;
    margin: 0;
    opacity: 0;
    visibility: hidden;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0.3s ease;
    
    &__item {
      padding: 8px;
      
      button {
        background: transparent;
        border: none;
        color: $gray;
        cursor: pointer;
        width: 100%;
        text-align: left;
        transition: 0.3s;
        
        &:hover {
          color: $white;
        }
      }
    }
  }
  
  .menu__wrapper-list {
    position: relative;
    display: inline-block;
    
    &.active .sublist {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
    }
    
    &:not(.active) .sublist {
      opacity: 0;
      visibility: hidden;
      transform: translateY(-10px);
    }
  }
  .social-header{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    left: 16px;
    gap: 8px;
    top: 0px;
  
    &__line{
      width: 1px;
      height: 33vh;
      background-color: $gray;
      display: block;
    }
    &__links{
      display: flex;
      gap: 10px;
      flex-direction: column;
      
      a{
        display: inline-flex;
        align-items: center;
        justify-content: center;
        color: $gray;
        transition: 0.4s;
        &:hover{
          transform: translateY(-3px);
          filter: brightness(1.5);
        }
      }
  
      img{
        color: $gray;
        width: 30px;
        height: 30px;
      }
    }
  }