@use './vars.scss' as *;

@import './preview.scss';
@import './quote.scss';
@import './project.scss';
@import './button.scss';
@import './skills.scss';
@import './about-me.scss';
@import './contact.scss';
@import './facts.scss';
