@use './vars.scss' as *;
.preview {
  padding-top: 150px;
  width: 100%;
  margin-bottom: 112px;

  &__content{
    display: flex;
    justify-content: space-between;
    align-items: center;

  }
  &__basic-info{
    width: 537px;
  }
  .hero{
    .main-title{
      margin-bottom: 32px;
    }
    .main-text{
      margin-bottom: 25px;
    }
  }
}
.preview__info{
  position: relative;
  top: -4px;
  border: $gray 1px solid;
  font-size: 16px;
  font-weight: 600;
  color: $gray;
  padding: 8px 80px 8px 34px;
  span{
    color: $white;
  }
  &::before{
    content: "";
    position: absolute;
    top: 29%;
    left: 2%;
    width: 16px;
    height: 16px;
    background-color: $primary;

  }
}
.preview__avatar{
  position: relative;
  z-index: 1;
  &::before{
    content: "";
    position: absolute;
    bottom: 23%;
    right: 4%;
    background-image: url('../../assets/dots.svg');
    width: 84px;
    height: 84px;
  }
  &::after{
    content: "";
    position: absolute;
    top: 23%;
    left: 4%;
    background-image: url('../../assets/alt.logo.svg');
    background-repeat: no-repeat;
    background-size: cover;
    width: 155px;
    height: 155px;
    z-index: -1;
  }
}
.quote{
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  margin-bottom: 140px;

  &::before{
    content: "";
    position: absolute;
    background-image: url('../../assets/square.svg');
    width: 91px;
    height: 91px;
  }
}
.quoteInfo{
  border: 1px solid $gray;
  position: relative;
  margin: 0;

  &::before, &::after{
    content: '"';
    position: absolute;
    color: $gray;
    background-color: $background;
  }
  &::before{
    font-size: 76px;
    height: 25px;
    top: -21px;
    left: 15px;
  }
  &::after{
    bottom: -2px;
    right: 6px;
    font-size: 55px;
    height: 25px;
  }
}
.quoteText{
  padding: 32px;
  font-size: 24px;
  font-weight: 500;
  background-color: $background;
}
.quoteAuthor{
  position: absolute;
  color: $gray;
  border: 1px solid $gray;
  padding: 8px;
  right: -1px;
  font-size: 24px;
  padding: 16px;
  z-index: 2;
  background-color: $background;
}
.square{
  width: 91px;
  height: 91px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
}
.project{
  width: 100%;
  margin-bottom: 106px;
  &--page{
    padding-top: 106px;
    margin-bottom: 106px;

    .project__list{
      margin-bottom: 81px;
    }
    .main-title--small-projects-completed{
      margin-bottom: 50px;
    }



    .project__info{
      flex-direction: column;

      .main-title{
        margin-bottom: 0px;
        &::before{
          content: "";
          display: none;
        }
      }
    }
  }
  &__content{
    .main-title--projects-completed{
      margin-bottom: 50px;

    }
  }
  &__info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    
    .main-title{
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 511px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        right: -16px;
        top: 50%;

      }
      &--projects{
        font-size: 32px;
        margin-bottom: 48px;
      }
    }
    .project__link{
      color: $white;
      transition: .5s;
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        inset: 6px;
        transform: translate(-5px, -10px);
        z-index: -1;
        background: $primary;
        filter: blur(20px);
        transition: 0.5s;
        opacity: 0;
    }
      &:hover::before {
          opacity: 0.5;
      }
      &:hover{
        color: $primary;
      }
    }


  }
  &__list{
    display: flex;
    align-items: flex-start;
    gap: 20px;
    flex-wrap: wrap;

  }
  &__item{
    max-width: 352px;
    width: 100%;
    display: flex;
    flex-direction: column;
    height: auto;

    border: $gray 1.5px solid;
    .project__img{
      width: 100%;
      max-width: 350px;
      height: 200px;
      object-fit: cover;
    }
    .project__used{
      border: $gray 1px solid;
      font-size: 16px;
      color: $gray;
      padding: 8px;

    }
    .project__main-info{
      padding: 16px;
      flex: 1;
      display: flex;
      flex-direction: column;
    }
    .project__title{
      font-size: 24px;
      margin-bottom: 12px;

    }
    .project__subtitle{
      font-size: 16px;
      color: $gray;
      margin-bottom: 16px;
      flex: 1;
      word-wrap: break-word;
    }
    .project__btn-links{
      display: flex;
      gap: 16px;
    }
  }
}
.button{
  display: inline;
  position: relative;
  border: $primary 1px solid;
  padding: 8px 16px;
  transition: 0.4s;
  
  &:hover{
    color: $white;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    inset: -5px;
    transform: translate(8px, 5px);
    z-index: -1;
    background: $primary;
    filter: blur(20px);
    transition: 0.4s;
    opacity: 0;
}
  &:hover::before {
      opacity: 0.3;
  }
}
// skills
.skills{
  width: 100%;
  margin-bottom: 170px;
  &__content{
    width: 100%;
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    .main-title{
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -100px;
        top: 50%;
      }
    }
  }
  &__list{
    max-width: 584px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;

    &--about{
      margin-top: 50px;
      margin-bottom: 83px;
      max-width: 100%;
      justify-content: center;
  }
    &--facts{
      margin-top: 26px;
      justify-content: flex-start;
    }
  }
  &__item{
    max-width: 178px;
    width: 100%;
    border: $gray 1.5px solid;
    .skills__title{
      font-size: 16px;
      padding: 8px;
      border: $gray 1px solid;
    }
    .skills__used{
      font-size: 16px;
      padding: 8px;
      color: $gray;
    }
  }
  &__props{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    &-dots{
      position: absolute;
      top: -50px;
      left: 30px;
      width: 63px;
      height: 63px;
      &--2{
        position: absolute;
        top: 41px;
        left: 225px;
        width: 63px;
        height: 63px;
      }
    }
    &-square{
      position: absolute; 
      top: -90px;
      left: 270px;
      width: 86px;
      height: 86px;
      &--2{
        position: absolute;
        bottom: -132px;
        left: 360px;
        width: 52px;
        height: 52px;
      }
    }
    &-alt-logo{
      position: absolute;
      top: 60px;
      left: 50px;
      width: 113px;
      height: 113px;
    }
  }
}
.about-me{
  margin-bottom: 112px;

  &--page{
    padding-top: 106px;
  }
  &__content{
  }
  &__info{
    margin-bottom: 45px;

    .main-title{
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -70px;
        top: 50%;
      }
    }
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    .about-me__text{
      width: 515px;
      font-size: 16px;
      color: $gray;

      &--1{
        margin-bottom: 25px;

      }
      &--2{
        margin-bottom: 25px;

      }
      &--3{
        margin-bottom: 35px;

      }
    }
    .about-me__image{
      margin-top: -50px;
      position: relative;

      &::before{
        content: "";
        position: absolute;
        top: 10%;
        left: -2%;
        background-image: url('../../assets/dots.svg');
        width: 84px;
        height: 84px;
      }
      &::after{
        content: "";
        position: absolute;
        content: "";
        position: absolute;
        bottom: 23%;
        right: 4%;
        background-image: url('../../assets/dots.svg');
        width: 104px;
        height: 56px;
        background-repeat: no-repeat;
        background-size: cover;
      }
    }
  }
}
.contact{

  &--page{
    padding-top: 110px;

  }
  &__content{
    margin-bottom: 45px;

    .main-title{
      position: relative;

      &::before{
        content: "";
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -70px;
        top: 50%;
      }
    }
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;

    .contact__info--page{
      margin-bottom: 88px;
    }

  }
  &__info{
    width: 515px;

    .contact__text{
      font-size: 16px;
      color: $gray;
    }
  }
  .contact__links{
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
  .contact__link{
    font-size: 16px;
    color: $gray;
    position: relative;
    padding-left: 37px;

    &--email::before,
    &--telegram::before{
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 25px;
      height: 25px;
      background-repeat: no-repeat;
      background-size: contain;
    }

    &--email::before{
      background-image: url('../../assets/mail.svg');
    }

    &--telegram::before{
      background-image: url('../../assets/telegram-icon.svg');
    }
  }

  &__message{
    display: flex;
    flex-direction: column;
    border: $gray 1px solid;
    padding: 16px;

    .contact__message-text{
      font-size: 16px;
      color: $white;
      margin-bottom: 16px;
      font-weight: 700;
    }

    .contact__toggle{
      margin-bottom: 12px;
    }
  }
}
.facts__item{
  border: 1px solid $gray;
  .facts__used{
    padding: 8px;
    font-size: 16px;
    color: $gray;
  }
}
.project__subtitle{
  font-size: 16px;
  color: $white;
  font-weight: 500;
  margin-top: 16px;
}
.button{
  display: inline;
  position: relative;
  border: $primary 1px solid;
  padding: 10px 16px;
  transition: 0.4s;
  color: $white;
  font-size: 16px;
  font-weight: 600;

  &--contact{
    background-color: transparent;
  }
  &:hover{
    color: $white;
  }
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    inset: -5px;
    transform: translate(8px, 5px);
    z-index: -1;
    background: $primary;
    filter: blur(20px);
    transition: 0.4s;
    opacity: 0;
}
  &:hover::before {
      opacity: 0.3;
  }

}