@use './vars.scss' as *;
:root {
  background-color: $background;
}
body {
  font-family: "Fira Code", monospace;
  color: $white;

}
*,
* > * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: $gray;
}
ul,
ul,
li {
  list-style: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.main {
  padding-top: 13px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}
.main-title{
  font-size: 32px;
  font-weight: 650;
}
.main-text{
  color: $gray;
  font-size: 16px;
}

@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  .main-title {
    font-size: 24px;
  }

  .main-text {
    font-size: 14px;
  }
}