@use './vars.scss' as *;

// skills
.skills{
  width: 100%;
  margin-bottom: 170px;
  &__content{
    width: 100%;
  }
  &__main-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__info{
    .main-title{
      position: relative;

      &::before{
        content: none;
        display: block;
        width: 239px;
        height: 1px;
        background-color: $primary;
        position: absolute;
        transform: translate(100%, -50%);
        left: -100px;
        top: 50%;
      }
    }
  }
  &__list{
    max-width: 584px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 16px;
    flex-wrap: wrap;

    &--about{
      margin-top: 50px;
      margin-bottom: 83px;
      max-width: 100%;
      justify-content: flex-start;
  }
    &--facts{
      margin-top: 26px;
      justify-content: flex-start;
    }
  }
  &__item{
    max-width: 178px;
    width: 100%;
    border: $gray 1.5px solid;
    .skills__title{
      font-size: 16px;
      padding: 8px;
      border: $gray 1px solid;
    }
    .skills__used{
      font-size: 16px;
      padding: 8px;
      color: $gray;
    }
  }
  &__props{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    flex-wrap: wrap;

    &-dots{
      position: absolute;
      top: -50px;
      left: 30px;
      width: 63px;
      height: 63px;
      &--2{
        position: absolute;
        top: 41px;
        left: 225px;
        width: 63px;
        height: 63px;
      }
    }
    &-square{
      position: absolute; 
      top: -90px;
      left: 270px;
      width: 86px;
      height: 86px;
      &--2{
        position: absolute;
        bottom: -132px;
        left: 360px;
        width: 52px;
        height: 52px;
      }
    }
    &-alt-logo{
      position: absolute;
      top: 60px;
      left: 50px;
      width: 113px;
      height: 113px;
    }
  }
}

@media (max-width: 768px) {
  .skills {
    margin-bottom: 100px;

    &__content {
      padding: 0 20px;
    }

    &__main-content {
      flex-direction: column;
      gap: 30px;
    }

    &__info {
      .main-title {
        font-size: 24px;
        margin-bottom: 20px;

        &::before {
          display: none;
        }
      }
    }

    &__props {
      display: none;
    }

    &__list {
      max-width: 100%;
      justify-content: flex-start;
      gap: 12px;

      &--about {
        margin-top: 30px;
        margin-bottom: 50px;
      }

      &--facts {
        margin-top: 20px;
      }
    }

    &__item {
      min-width: 140px;
    }
  }
}

